{% set _sf = (surface if surface is defined and surface is mapping else {}) %}
{% set _labels = (_sf.archetype_labels if _sf.archetype_labels is defined and _sf.archetype_labels is iterable else []) %}
{% set _active_idx = (surface_chrome_active_index if surface_chrome_active_index is defined else 0) %}
{% if _labels %}
<div class="page-archetype-bar">
  {% for lbl in _labels %}
    <span class="page-archetype-chip{% if loop.index0 == _active_idx %} is-active{% endif %}">{{ lbl }}</span>
  {% endfor %}
</div>
{% endif %}
{% set _nav = (_sf.local_nav if _sf.local_nav is defined and _sf.local_nav is iterable else []) %}
{% set _hide_nav = (hide_surface_local_nav if hide_surface_local_nav is defined else false) %}
{% if _nav and not _hide_nav %}
<div class="local-subnav no-print">
  {% for item in _nav %}
    {% set _active = (item.active if item.active is defined else false) %}
    <a href="{{ item.href }}"{% if _active %} class="active"{% endif %}>{{ item.label }}</a>
  {% endfor %}
</div>
{% endif %}
